<h1 mat-dialog-title> Add courses to the plan </h1>  
<div mat-dialog-content>
    <form [formGroup]="courseForm">
        <mat-form-field appearance="outline">
            <mat-label>Students' group</mat-label>
            <mat-select formControlName="studentGroup">
                <mat-option *ngFor="let studentGroup of studentGroups" [value]="studentGroup.name"> 
                  {{studentGroup.name}}
              </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Day</mat-label>
            <mat-select formControlName="day">
                <mat-option value="Monday"> Monday </mat-option>
                <mat-option value="Tuesday"> Tuesday </mat-option>
                <mat-option value="Wednesday"> Wednesday </mat-option>
                <mat-option value="Thursday"> Thursday </mat-option>
                <mat-option value="Friday"> Friday </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>8:00 - 8:45</mat-label>
            <mat-select formControlName="firstTimestamp"> 
                <mat-option *ngFor="let course of courses" [value] = course>
                    {{course.subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>8:00 - 8:45</mat-label>
            <mat-select formControlName="secondTimestamp"> 
                <mat-option *ngFor="let course of courses" [value] = course>
                    {{course.subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>8:55 - 9:40</mat-label>
            <mat-select formControlName="thirdTimestamp"> 
                <mat-option *ngFor="let course of courses" [value] = course>
                    {{course.subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>9:50 - 10:35</mat-label>
            <mat-select formControlName="fourthTimestamp"> 
                <mat-option *ngFor="let course of courses" [value] = course>
                    {{course.subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>10:55 - 11:40</mat-label>
            <mat-select formControlName="fifthTimestamp"> 
                <mat-option *ngFor="let course of courses" [value] = course>
                    {{course.subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>11:50 - 12:35</mat-label>
            <mat-select formControlName="sixthTimestamp"> 
                <mat-option *ngFor="let course of courses" [value] = course>
                    {{course.subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>12:45 - 13:30</mat-label>
            <mat-select formControlName="seventhTimestamp"> 
                <mat-option *ngFor="let course of courses" [value] = course>
                    {{course.subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addTimestamp()">Save</button>
</div>