<h1 mat-form-title>{{labelName | startcase}}</h1>
<div mat-form-content>
    <label>{{labelName}}</label>
    <form [formGroup]="courseForm">
            <mat-form-field appearance="outline">
                <mat-label>Select subject:</mat-label>
                <mat-select formControlName="subject"> 
                    <mat-option *ngFor="let sub of subjects" [value] = sub>
                        {{sub.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="courseForm.get('subject')?.invalid && (courseForm.get('subject')?.dirty || courseForm.get('subject')?.touched)">{{getErrorForSubject()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Select teacher:</mat-label>
                <mat-select formControlName="teacher">
                    <mat-option *ngFor="let teach of teachers" [value]=teach>
                        {{teach.name}} {{teach.surrname}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="courseForm.get('teacher')?.invalid && (courseForm.get('teacher')?.dirty || courseForm.get('teacher')?.touched)">{{getErrorForTeacher()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Type:</mat-label>
                <input matInput formControlName="type" name="type" type="text" required>
                <mat-error *ngIf="courseForm.get('type')?.invalid && (courseForm.get('type')?.dirty || courseForm.get('type')?.touched)">{{getErrorForType()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Duration:</mat-label>
                <input matInput formControlName="duration" name="duration">
                <mat-error *ngIf="courseForm.get('duration')?.invalid && (courseForm.get('duration')?.dirty || courseForm.get('duration')?.touched)">{{getErrorForDuration()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hours required:</mat-label>
                <input matInput formControlName="hoursReq" name="hoursReq">
                <mat-error *ngIf="courseForm.get('hoursReq')?.invalid && (courseForm.get('hoursReq')?.dirty || courseForm.get('hoursReq')?.touched)">{{getErrorForHoursReq()}}</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" (click) = "addCourse()">{{buttonName | uppercase}}</button>
    </form>
</div>