.courses-table {
    width: 100%;
}

.mat-column-Monday {
    padding-right: 20px;
}
.mat-column-Tuesday {
    padding-left: 30px;
}

.mat-column-Wednesday {
    padding-left: 30px;
}

.mat-column-Thursday {
    padding-right: 20px;
}