<table mat-table [dataSource]="courses" class="mat-elevation-z8 courses-table">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row">
        {{column.cell(row)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actionButtons">
      <th mat-header-cell *matHeaderCellDef color="primary">Action</th>
      <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editCourse(row)" color="primary">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCourse(row.id)" color="warn">
              <mat-icon>delete</mat-icon>
          </button>
      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['actionButtons'])"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['actionButtons']);"></tr>
</table>

